# Exloratory Data Analysis for Data Science Salaries in 2023

In [2]:
import numpy as np
import pandas as pd
import polars as pl

In [40]:
salary_data = pl.read_csv('./../data/raw/ds_salaries.csv')
print(salary_data.shape)
salary_data.head()

(3755, 11)

shape: (5, 11)
┌─────────┬────────────┬────────────┬─────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ work_ye ┆ experience ┆ employment ┆ job_tit ┆ … ┆ employee_r ┆ remote_rat ┆ company_lo ┆ company_si │
│ ar      ┆ _level     ┆ _type      ┆ le      ┆   ┆ esidence   ┆ io         ┆ cation     ┆ ze         │
│ ---     ┆ ---        ┆ ---        ┆ ---     ┆   ┆ ---        ┆ ---        ┆ ---        ┆ ---        │
│ i64     ┆ str        ┆ str        ┆ str     ┆   ┆ str        ┆ i64        ┆ str        ┆ str        │
╞═════════╪════════════╪════════════╪═════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 2023    ┆ SE         ┆ FT         ┆ Princip ┆ … ┆ ES         ┆ 100        ┆ ES         ┆ L          │
│         ┆            ┆            ┆ al Data ┆   ┆            ┆            ┆            ┆            │
│         ┆            ┆            ┆ Scienti ┆   ┆            ┆            ┆            ┆            │
│         ┆            ┆            ┆ st      ┆   ┆            ┆            ┆            ┆            │
│ 2023    ┆ MI         ┆ CT         ┆ ML Engi ┆ … ┆ US         ┆ 100        ┆ US         ┆ S          │
│         ┆            ┆            ┆ neer    ┆   ┆            ┆            ┆            ┆            │
│ 2023    ┆ MI         ┆ CT         ┆ ML Engi ┆ … ┆ US         ┆ 100        ┆ US         ┆ S          │
│         ┆            ┆            ┆ neer    ┆   ┆            ┆            ┆            ┆            │
│ 2023    ┆ SE         ┆ FT         ┆ Data    ┆ … ┆ CA         ┆ 100        ┆ CA         ┆ M          │
│         ┆            ┆            ┆ Scienti ┆   ┆            ┆            ┆            ┆            │
│         ┆            ┆            ┆ st      ┆   ┆            ┆            ┆            ┆            │
│ 2023    ┆ SE         ┆ FT         ┆ Data    ┆ … ┆ CA         ┆ 100        ┆ CA         ┆ M          │
│         ┆            ┆            ┆ Scienti ┆   ┆            ┆            ┆            ┆            │
│         ┆            ┆            ┆ st      ┆   ┆            ┆            ┆            ┆            │
└─────────┴────────────┴────────────┴─────────┴───┴────────────┴────────────┴────────────┴────────────┘

## Experience Level
There's 4 categorical values in column 'Experience Level', each are:

- EN, which refers to Entry-level / Junior.

- MI, which refers to Mid-level / Intermediate.

- SE, which refers to Senior-level / Expert.

- EX, which refers to Executive-level / Director.

In [41]:
## Mapper and value counts
experience_level_dict = {
    'EN':'Entry-level/Junior',
    'MI':'Mid-level/Intermediate',
    'SE':'Senior-level/Expert',
    'EX':'Executive-level/Director'
}
salary_data = salary_data.with_columns(salary_data['experience_level'].map_dict(experience_level_dict))
salary_data['experience_level'].value_counts().sort(by='counts', descending=True)

shape: (4, 2)
┌──────────────────────────┬────────┐
│ experience_level         ┆ counts │
│ ---                      ┆ ---    │
│ str                      ┆ u32    │
╞══════════════════════════╪════════╡
│ Senior-level/Expert      ┆ 2516   │
│ Mid-level/Intermediate   ┆ 805    │
│ Entry-level/Junior       ┆ 320    │
│ Executive-level/Director ┆ 114    │
└──────────────────────────┴────────┘

In [53]:
## Group by sintaxis
salary_data.groupby(by='experience_level').agg(pl.col('salary').mean())

shape: (4, 2)
┌──────────────────────────┬───────────────┐
│ experience_level         ┆ salary        │
│ ---                      ┆ ---           │
│ str                      ┆ f64           │
╞══════════════════════════╪═══════════════╡
│ Mid-level/Intermediate   ┆ 248200.306832 │
│ Senior-level/Expert      ┆ 170048.965421 │
│ Entry-level/Junior       ┆ 188381.178125 │
│ Executive-level/Director ┆ 246802.201754 │
└──────────────────────────┴───────────────┘

In [58]:
## Filter all in Colombia
salary_data.filter((pl.col('employee_residence'))=='CO')

shape: (4, 11)
┌─────────┬────────────┬────────────┬─────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ work_ye ┆ experience ┆ employment ┆ job_tit ┆ … ┆ employee_r ┆ remote_rat ┆ company_lo ┆ company_si │
│ ar      ┆ _level     ┆ _type      ┆ le      ┆   ┆ esidence   ┆ io         ┆ cation     ┆ ze         │
│ ---     ┆ ---        ┆ ---        ┆ ---     ┆   ┆ ---        ┆ ---        ┆ ---        ┆ ---        │
│ i64     ┆ str        ┆ str        ┆ str     ┆   ┆ str        ┆ i64        ┆ str        ┆ str        │
╞═════════╪════════════╪════════════╪═════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 2023    ┆ Senior-lev ┆ FT         ┆ Data    ┆ … ┆ CO         ┆ 0          ┆ CO         ┆ M          │
│         ┆ el/Expert  ┆            ┆ Manager ┆   ┆            ┆            ┆            ┆            │
│ 2023    ┆ Senior-lev ┆ FT         ┆ Data    ┆ … ┆ CO         ┆ 0          ┆ CO         ┆ M          │
│         ┆ el/Expert  ┆            ┆ Manager ┆   ┆            ┆            ┆            ┆            │
│ 2022    ┆ Senior-lev ┆ FT         ┆ AI Scie ┆ … ┆ CO         ┆ 100        ┆ CO         ┆ L          │
│         ┆ el/Expert  ┆            ┆ ntist   ┆   ┆            ┆            ┆            ┆            │
│ 2021    ┆ Entry-leve ┆ FT         ┆ Machine ┆ … ┆ CO         ┆ 50         ┆ CO         ┆ M          │
│         ┆ l/Junior   ┆            ┆ Learnin ┆   ┆            ┆            ┆            ┆            │
│         ┆            ┆            ┆ g Engin ┆   ┆            ┆            ┆            ┆            │
│         ┆            ┆            ┆ eer     ┆   ┆            ┆            ┆            ┆            │
└─────────┴────────────┴────────────┴─────────┴───┴────────────┴────────────┴────────────┴────────────┘